<nav>
    <a routerLink="" draggable="false">
        <img src="https://png2.cleanpng.com/sh/2d57bd01c8caf17070adc9dcb6849b49/L0KzQYm3VMIzN6p6j5H0aYP2gLBuTgBpd6V0fARqcHjsc37tifxuNZ50jttuLXnmf7B6TfNqdpZyeZ9sbHHzgLb5gv9iepUyTdNtY0bmcoG6hchkbGEzSaMBN0G6QIm4VcI1O2o6Sao9MkW5QnB3jvc=/kisspng-photographic-film-movie-icons-cinema-clapperboard-5adc6cb03e8cd0.1167170815243951842562.png"
            width="30px" alt="logo" draggable="false">
    </a>
    <a routerLink="" draggable="false">Inicio</a>

    <a routerLink="/billboard" draggable="false">Peliculas</a>
</nav>